/* General Styles */
body {
    font-family: DIN, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background: #a0aa9c;
    color: #3a0000;
    text-align: center;
    padding: 1.5em 0;
}

header .cta-button {
    background: #fff;
    color: #007BFF;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

header .button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

header .button5 {
    background-color: #ffffff;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

header .button5:hover {
    background-color: #454545;
    color: white;
    border: 5px;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main {
    padding: 2em;
}

/* Sections */
section {
    margin: 2em 0;
}

#projects .project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#projects .project-card img {
    max-width: 100%;
    border-radius: 5px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background: #007BFF;
    color: #fff;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 3px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header .cta-button {
        display: block;
        margin: 1em auto;
    }
}

/* Top bar desing */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar button {
    flex: 1;
    padding: 10px;
    color: white;
    background-color: #3b3535;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: lighter;
}

.top-bar button:hover {
    background-color: #777;
}

.top-bar button:first-child {
    border-right: 1px solid #444;
}